[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bitmexr"]
	path = bitmexr
	url = https://github.com/hfshr/bitmexr
[submodule "jqbr"]
	path = jqbr
	url = https://github.com/hfshr/jqbr
